.member-loop{
	.profile-top{
		padding-bottom: 0;

		.profile-header{
			&:before{
				padding-top: calc(9 / 21 * 100%);
			}
		}

		.author-info{
			padding-top: 50px;
    		padding-bottom: .5rem;			
			.author-name{
				font-size: 1rem;
			    text-align: center;
			    a{
			    	text-decoration: none;
			    }
			}			
		}
	}

	.member-info{
		font-size: .9rem;
	    text-align: center;
	    .member-info__item{
	    	padding: 1.5rem;
			text-transform: capitalize;
	    	.member-info__item__count{
	    		font-size: 1rem;
	    		font-weight: 600;
	    		color: #212529;
	    	}
	    }
	}
}