:root{
    --bm-avatar-radius: 50%;
}

body.streamtube{

    .bp-messages-wrap.bm-initialized{
        display: none!important;
    }

    .btn-private-message{
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        .btn__icon{
            font-size: .8rem;
        }   
    }

    .member-loop{
        .button-private-message{
            position: absolute;
            top: 1rem;
            right: 1rem;        
            opacity: .5;
        }

        &:hover{
            .button-private-message{
                opacity: 1;
            }
        }
    }

    .bm-login-form{
        border: 1px solid #e9ecef!important;
        .bm-login-text{
            text-align: center;
            text-transform: uppercase;
        }
    }   

    .bp-messages-wrap{

        --left-message-text-color: #fff;
        
        background: #fff;

        label{
            font-size: 1rem!important;    
            margin-bottom: 0.75rem;
        }

        img.avatar{
            border-radius: 50%!important;
        }

        .bpbm-empty-link{
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            border: 1px solid #dc3545!important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 35px!important;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            color: #fff;
            background-color: #dc3545!important;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            border-radius: 35px;
            outline: none;
            a,
            a:not(.bm-no-link-style){
                color: #fff!important;
            }    
        }    

        .bm-alert{
            padding: 1.5rem;

            p{
                font-size: 1rem;
            }

            button{
                border-radius: 35px!important;
                background: #dc3545!important;
            }

        }

        .chat-footer,
        .chat-header{       
            .thread-info{
                margin-left: 0.75rem;
                color: #666;
                padding: 0.75rem;

                .sub-name{
                    color: #0dcaf0;
                }            
            }        
        } 

        .empty-thread{
            font-size: 1rem!important;
        }

        .bm-message-info{
            .bm-time{
                font-size: .85rem!important;
                color: #aaa!important;
            } 
        }

        .bm-message-content-text{
            line-height: 1.5;
            color: #666;
            font-size: 1rem;

            .url-wrap{
                border: 1px solid #aaa!important;
            }

            .bm-mention{
                border-radius: 35px;
                margin-right: 0.5rem;
                .user{
                    font-weight: 600;
                    color: #03a9f4;
                }
            }        
        }

        .bpbm-chat-content{
            .bm-name a,
            .bm-name .user{
                font-size: 1rem!important;
            }

            .bm-thread-add-participant-title{
                font-size: 1rem;
            }         

            .bm-name-moderator{
                margin-left: 1rem;
            }

            .bm-thread-settings{

                border-bottom: 1px solid #ddd;

                h4{
                    display: none;
                }

                .bpbm-thread-option{
                    font-size: 1rem;
                    margin-bottom: 1rem;

                    .bpbm-thread-option-toggle{
                        margin-bottom: .75rem;
                    }
                }            
            }
        }
      
        .bm-messages-list{
            .bm-list{
                .bm-conversation-start{
                    font-size: 1rem !important;
                    opacity: .9;
                }
            }      
            &.bm-template-modern{

                .bm-messages-stack{
                    &.incoming{
                        .bm-message-content{
                            background: #2275d7 !important;
                            color: #f9f9f9 !important;
                        }
                    }          
                }
            }

            .bm-replied-message-text{
                font-size: .95rem;
            }
        }  

        .bm-reply{
            .bp-better-messages-restrict-send-message{
                font-size: 1rem;
                margin: 0 auto !important;
                padding: 1rem !important;
    
                .bpbm-join-to-chat-button,
                .bpbm-pm-button{
                    background: #ce1e1e!important;
                    border-color: #ce1e1e!important;            
                    color: #fff!important!important;
                    border-radius: 35px!important;
                    padding: 0.5rem 2rem!important;
                    margin-top: 0.75rem!important;
                    font-size: .9rem!important;
                }
            }

            .bm-editor{
                padding: .75rem;

                .bm-inline-mention{
                    background: rgba(0,0,0,.1);
                    font-weight: 600;
                    color: #03a9f4;
                    margin-right: 0.5rem;
                    padding: 2px 10px;
                    border-radius: 35px;                
                    img{
                        padding: 0;
                    }
                }            
            }

            .bm-editor *{
                font-size: 1rem;
            }

            .bm-attachment,
            .bm-emojies,
            .bm-send-message{
                font-size: 1.5rem;
            } 

        }

        .threads-list{
            .bm-info{
                .name{
                    font-size: 1rem !important;
                    color: #222!important;
                    margin-bottom: 0.5rem!important;
                }

                .name+h4{
                    font-size: .9rem !important;
                    margin-bottom: 0.5rem!important;
                    line-height: 1.2!important;
                }
            }

            .thread{

                .bm-last-message-content,
                .time-wrapper{
                    font-size: .9rem!important;
                    font-style: italic;
                    color: #aaa;
                    line-height: 1.5;
                }

                .unread-count{
                    background: #ce1212;
                }

                .pic{
                    img{
                        border-radius: 50%!important;
                    }
                }
            }    

            .bp-messages-active-thread{
                background: #e9ecef!important;
            }    
        } 

        .bm_user_selector__option{
            padding: 0.75rem!important;
        }

        .bm_user_selector__multi-value {
            padding: 0.4rem;
            border-radius: 35px;
        }    

        #bm-new-thread-title{
            font-size: 1rem;
            font-weight: bold;
            color: #212529!important;
        }  

        .bm_user_selector__menu div div {
            font-size: 1rem!important;
        }

        .bulk-message{

            .box{
                margin-top: 1rem;
                padding: 1rem;
            }

            .progress{
                font-size: 1rem;
            }        

            button[type=submit]{
                background-color: #dc3545 !important;
                border-radius: 35px !important;
                border: 1px solid #dc3545 !important;
                padding: 0.375rem 0.75rem;              
            }        

            ul>li{
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }

        .bpbm-options-group{
            margin-bottom: 1.5rem;

            .bpbm-user-option-title{
                font-size: 1rem;
            }

            label{
                font-weight: normal;
            }

        }

        .bm-user-search-wrap{
            .bm-user-search{
                padding: 0.25rem 1rem;    
            }
        }    

        .reports{
            h3{
                font-family: 'Poppins', sans-serif;
                margin-bottom: 1rem;        
            }
        }

        .reports-list{
            font-size: 1rem;

            td,
            th{
                padding: .75rem!important;
            }

            .delete{
                font-size: 1.5rem!important;
                color: #f00e0e!important;
            }
        }

        .bpbm-user-options{
            .bpbm-user-blacklist{

                margin: 1.5rem 0;

                table{
                    td{
                        padding: 1rem;
                    }
                }

                .bpbm-unblock-user{
                    font-size: 1rem;
                    color: #df2f46!important;
                }
            }
        }
    }

    .comments-livechat-tabs{
        .dot{
            left: -15px;
            background: #ce1212;
        }

        .nav-link{
            outline: none;
            border-radius: 0;
            &.active{
                border-color: #dee2e6;
                border-bottom: 2px solid #ce1212;                
            }
        }
    }

    .comments-livechat{
        .bm-login-form{
            max-width: 100%;
            margin-top: 0;
            
            input[type=submit]{
                border-radius: 35px;
                font-size: 1rem;
                padding: 0.5rem 1.5rem;
                background: #d11422;
                color: #fff;
                font-weight: normal;
            }
        }
    }
}