html[data-theme=dark]{
	.search{
		.search-tabs{
			border-bottom: 1px solid #222;

			.nav-link{
				&:hover,
				&.active{
					color: #fff;
				    background: #333;
				    border: none;
				    border-top: 2px solid #CE1212;
				    outline: none;
				    box-shadow: none;	
				}
			}

		}
	}	
}
